				@font-face {
					font-family: 'utopia-bold';
					src: url('../fonts/3908utopia-bold.woff2') format('woff2'),
						url('../fonts/3908utopia-bold.woff') format('woff');
					  font-display: auto;
				}

				.utopia-bold{font-family: 'utopia-bold' !important;}

						h1, h2, .crs-counter{
					font-family: 'utopia-bold' !important;
				}
		



